* {
  font-family: "Playfair Display", "Roboto", "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  margin: 0;
}

#header-color {
  background-color: #3a98b9;
  height: 670px;
  width: 100%;
  position: absolute;
  top: 0;
  transform-origin: left;
  transform: skewY(-13deg);
  z-index: -1;
}

#placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
}
#about {
  background-color: #fff;
  margin-right: 2.5%;
  margin-top: 5%;
  margin-left: 50%;
  padding: 20px;
  box-shadow: rgb(59 53 53) 1px 1px 25px;
}

h1 {
  font-size: 40px;
  font-weight: 450;
}

header > div > p {
  font-size: 20px;
  line-height: 1.8;
}

#header-icons > i {
  font-size: 28px;
}

#header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 60px;
}

#image-container {
  top: 0;
  left: 0;
  margin-top: 2.5%;
  margin-left: 2.5%;
  position: absolute;
  width: 47.5%;
  height: 550px;
}

#image-container > h1 {
  position: absolute;
  bottom: 5px;
  left: 75px;
  color: #fff;
  font-size: 60px;
  margin: 0;
}

span > img {
  width: 25px;
  height: 25px;
}

span > i {
  font-size: 22px;
}

span {
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  margin: 20% 2.5%;
}

main > h1 {
  margin: 0;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.project {
  box-shadow: rgb(147 138 138) 1px 1px 10px;
  height: 25%;
  width: 30%;
}

.project > img {
  width: 100%;
  height: 50%;
  object-fit: fill;
}

.project > div {
  margin: 5px 25px;
}

.project > div > h2 {
  font-weight: 450;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #3a98b9;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  gap: 20%;
  height: fit-content;
}

#footer-content {
  width: 25%;
  height: fit-content;
}

#footer-image {
  width: 60%;
  height: 80vh;
}

#footer-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#footer-content > h1,
#footer-content > p {
  color: #fff;
}

#footer-content > p {
  font-size: 20px;
}

#footer-content > div {
  display: flex;
  gap: 36px;
}

#footer-content > div > i {
  font-size: 50px;
}

p > img {
  width: 25px;
  height: 25px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7405%) hue-rotate(161deg)
    brightness(117%) contrast(92%);
}

.center {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 1000px) {
  #image-container {
    position: relative;
    float: left;
    top: 0;
    width: 50%;
    height: 165px;
  }

  #placeholder {
    width: 47vw;
    height: 184%;
    transform: translate(-10vw, -13vw);
  }

  #about {
    margin: 12.5% 10% 0 10%;
  }

  #image-container > h1 {
    height: fit-content;
    width: 340px;
    top: -105px;
    font-size: 40px;
    transform: translateX(25vw);
  }

  .project {
    width: 40%;
  }

  main {
    margin: 25% 12.5%;
  }

  #footer-image {
    width: 50%;
    height: 65vw;
  }
}

@media (max-width: 730px) {
  #placeholder {
    width: 45vw;
    height: 145%;
  }

  #image-container > h1 {
    width: 238px;
    top: -70px;
    font-size: 28px;
    transform: translateX(18vw);
  }
}

@media (max-width: 505px) {
  #about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    padding: 0;
    box-shadow: none;
  }
  #image-container {
    position: static;
    width: 100%;
    height: 130vw;
    margin: 0;
  }

  #placeholder {
    position: static;
    width: 100%;
    height: 100%;
    transform: none;
  }

  main > h1 {
    text-align: center;
  }

  #projects {
    justify-content: center;
  }

  .project {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  #footer-content {
    width: 100%;
  }

  #footer-content > div {
    /* display: flex; */
    justify-content: center;
  }

  #footer-image {
    width: 100%;
    height: 60vh;
  }
}