* {
  font-family: "Playfair Display", "Roboto", "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  margin: 0;
}

#header-color {
  background-color: #3a98b9;
  height: 670px;
  width: 100%;
  position: absolute;
  top: 0;
  transform-origin: left;
  transform: skewY(-13deg);
  z-index: -1;
}

#placeholder {
  margin-left: 60px;
  margin-top: 60px;
  height: 550px;
  width: 540px;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
}
#about {
  background-color: #fff;
  margin-right: 50px;
  margin-top: 60px;
  padding: 20px;
  box-shadow: rgb(59 53 53) 1px 1px 25px;
}

h1 {
  font-size: 40px;
  font-weight: 450;
}

header > div > p {
  font-size: 20px;
  line-height: 1.8;
}

#header-icons > i {
  font-size: 28px;
}

#header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 60px;
}

#image-container {
  position: relative;
}

#image-container > h1 {
  position: absolute;
  bottom: 5px;
  left: 75px;
  color: #fff;
  font-size: 60px;
  margin: 0;
}

span > img {
  width: 25px;
  height: 25px;
}

main {
  margin: 150px 60px;
}

main > h1 {
  margin: 0;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.project{
  background-color: cadetblue;
  height: 450px;
  width: 350px;
}

.project > img{
  width: 100%;
  object-fit: fill;
}